 * {
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 134, 134);
    font-family: Arial;
    margin: 0;
}
 .text1 {
    font-size: 20px;
    width: 800px;
    
} 
h1{
    font-size: 24px;
}
.rectangle-1 {
    float: left;
    flex-wrap: wrap;

}

.header {
    h1 {
        font-family: Arial, sans-serif;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .html {
        color: white;
    }
    
    .five {
        color: orange;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 5px; */
    text-align: left;
    color: white;
    background-color: #333;
}



.navbar {
    
    display: flex;
    background-color: #666666;
    overflow: hidden;
    flex-wrap: wrap;
}

.linkb {
    width: 1px;
height: 50px;
background-color: #333333;
}
.navbar a {
    border: #2d2c2c;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    float: left;
    display: block;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.sidelinks li a {
    list-style-type: none;
    text-decoration: none;
    color: #f58220;
}

.sidelinks li {
    list-style-type: none;

}

.row {
    display: flex;
    overflow: hidden;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.side {
    flex: 60%;
    background-color: #f1f1f1;
    padding: 20px;
    border: #666666;
    border-radius: 2px;

}


.main {
    flex: 30%;
    background-color: rgb(227, 225, 225);
    padding-left: 15px;
}

.rectangle-1 {
    width: 160px;
    height: 160px;
    background-color: #dddddd;
    padding: 20px;
    margin-right: 20px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #666666;
    font-family: "Helvetica LT Std";

}


.break {
    margin-top: 1cm;
    margin-bottom: 1cm;
    width: 100%;
    height: 1px;
    /* color: #000; */
    background-color: black;

}
.read1 {  
      font-size: 20px;
      
    letter-spacing: 0px;
    line-height: 22px;
    color: #f58220;
    font-weight: bold;
    left: 20%;
    padding-left: 20%;
    font-family: "Helvetica LT Std";

}

.footer {
    padding: 20px;
    text-align: center;
    background: #2d2c2c;
}

.p2 {
    width: 462px;
    height: 482px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #666666;
    font-family: "Helvetica LT Std";

}
.rowcontent{
    flex-direction: column;
}
h3 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #f58220;
    font-weight: bold;
    /* left: 20%; */
    font-family: "Helvetica LT Std";
}
@media screen and(min-width:676px){
    .navbar,.main,.p2,.span1 {
        flex-direction: column;
        display: inline;
    }
    
}
@media screen and (max-width:380px) {
    .p2{
        /* display: inline; */
        /* flex-direction: column; */
        float:none;
        width:100%;
    }
    }
@media screen and (max-width:380px) {
.navbar a{
    /* display: inline; */
    /* flex-direction: column; */
    float:none;
    width:100%;
}
}

@media screen and (max-width: 980px){
    .f1,.text1{
        display: inline;
        flex-direction: column;
        font-size: small;
    
    }
}
    

@media only screen and (max-width: 1485px) {
    .row {
    
        flex-direction: column; 
      
    }
   
}
